button {
    background-color: rgb(57, 59, 64);
    border: 2px solid lightblue;
}

input {
    background-color: rgb(109, 111, 117);
}

body {
    background-color: rgb(47, 49, 54)
}

html * {
    color: rgb(235, 229, 229);
    font-family: Arial;
}

#note,
#outputDiv {
    margin-top: 15px
}

#output {
    border: none
}

#outputDescription {
    font-size: 20px;
}

#copyNotification {
    height: 1.5rem;
    width: 4rem
}